body {
  font-family: Arial, sans-serif;
  background-color: #eef2f7;
  min-height: 100vh;
}

/* .sidebar{
  height: auto;
} */

.register-container {
  background: wred;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  height: auto;
}
.admin-user-link {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
h2 {
  text-align: center;
  color: #003366;
}
#terms {
  width: auto;
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.checkbox-wrapper label {
  margin-left: 8px;
  font-weight: normal;
}

.button-register {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.button-register:hover {
  background-color: rgb(2, 35, 71);
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}
.login-redirect {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-redirect a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

.login-redirect a:hover {
  text-decoration: underline;
}
@media (min-width: 600px) {
  .nav-links {
    display: none;
  }
}
@media (max-width: 600px) {
  .nav-links {
    display: block;
  }
  .register-container {
    margin: 40px 20px;
  }
}
.password-match {
  font-size: 14px;
  margin-top: 4px;
}
.match {
  color: green;
}
.mismatch {
  color: red;
}
.button-register:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
