* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #002b5c, #0053a6);
  color: white;
  padding: 10px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo span {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #f1f5f9;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 20px;
}

.nav-links a:hover {
  color: silver;
}

.admin-user {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
}
.dashboard-admin-user {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
}
.admin-user span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.admin-user svg {
  stroke: #f1f5f9;
}

.logout-btn {
  background-color: transparent;
  border: 2px solid #f1f5f9;
  color: #f1f5f9;
  padding: 6px 12px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 6px;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: silver;
  border-color: silver;
  color: #0f172a;
}

.logout-btn svg {
  stroke: currentColor;
}

@media (max-width: 600px) {
  .admin-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 92px;
    padding: 12px 20px;
    justify-content: center;
  }

  .logo span {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0;
  }
  .logo {
    display: none;
  }
  .nav-links a {
    font-size: 16px;
  }

  .admin-user {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 15px;
    width: 100%;
  }

  .logout-btn {
    width: 100%;
    justify-content: center;
  }
}

.main-content {
  display: flex;
  height: auto;
  background-color: #f0f4f8;
}
.sidebar {
  width: 280px;
  background-color: #003366;
  color: white;

  height: 100vh;
  padding-top: 20px;
}

.accordion-item {
  border-bottom: 1px solid #004080;
}

.accordion-header {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.accordion-header:hover {
  background-color: #004080;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #002244;
  transition: max-height 0.4s ease;
}

.accordion-content a {
  display: block;
  padding: 12px 30px;
  color: #cce0ff;
  text-decoration: none;
  font-size: 15px;
}

.accordion-content a:hover {
  background-color: #003366;
}

.icon {
  font-weight: bold;
  font-size: 16px;
}
