*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fbfd;
  color: #333;
}

.sidebar{
  height: 100vh;
}
.template-container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}

h1 {
  text-align: center;
  color: #003366;
  margin-bottom: 30px;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea,
form button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  background-color: #007acc;
  color: #fff;
  border: none;
  cursor: pointer;
}

.template-list {
  margin-top: 40px;
}

.template-card {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.template-card h3 {
  color: #003366;
  margin-bottom: 10px;
}

.template-card p {
  margin: 5px 0;
}

.template-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 10px;
}
