body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f3f6fa;
}

.sidebar{
  height: 100vh;
}

.login-container {
  background: wred;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  max-height: 800px;
  height: auto;
}
h2 {
  text-align: center;
  color: #003366;
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.password-wrapper {
  position: relative;
}
#togglePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.1rem;
}
.checkbox-wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-login {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}
.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #003366;
}
.register-redirect {
  text-align: center;
  margin-top: 12px;
  font-size: 0.9rem;
}

.register-redirect a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

.register-redirect a:hover {
  text-decoration: underline;
}
