body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  color: #2d3436;
  line-height: 1.6;
}
.shipping-sections {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main.shipping-policy {
  max-width: 1300px;
  margin: 25px auto;
  padding: 40px;
  margin-top: 220px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.shipping-title {
  text-align: center;
  color: #6c5ce7;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.shipping-sections section {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}
.shipping-sections section:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.shipping-section h2 {
  font-size: 1.5rem;
  color: #6c5ce7;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shipping-section h3 {
  font-size: 1.15rem;
  margin-top: 1rem;
  color: #00cec9;
}

.shipping-section ul {
  list-style: none;
  padding-left: 1rem;
}

.shipping-section ul li::before {
  content: "✔";
  margin-right: 0.5rem;
  color: #00cec9;
}

p {
  margin: 0.5rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #e0e0e0;
  text-align: left;
}

table th {
  background-color: #6c5ce7;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.icon {
  width: 22px;
  height: 22px;
  stroke-width: 2.2;
  color: #6c5ce7;
}

@media (max-width: 600px) {
  main.shipping-policy {
    padding: 20px;
    margin: 120px 20px 20px;
  }
  .shipping-sections {
    padding-left: 0;
  }
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
