.your-payments-main {
  margin-top: 200px;
  margin-bottom: 15px;
}
.payment-container {
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding: 25px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.payment-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.btn-delete {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #c0392b;
}
.form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.form-input,
.form-select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.exp-date-wrapper {
  display: flex;
  gap: 10px;
}

.btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 16px;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #e0e0e0;
}

.btn-submit {
  background-color: #ffd814;
}

.card-list {
  margin-top: 30px;
}

.card-item {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fafafa;
}

.card-item span {
  display: block;
}
@media (max-width: 600px) {
  .payment-container {
    margin: 0 20px;
  }
  .your-payments-main {
    margin-top: 115px;
  }
}
